{{define `title`}}Consulting | Exupery Software{{end}}

{{define `main`}}
<div id="consulting">

  <div class="heading">
    <div class="row">
      <h1>Consulting</h1>
    </div>
  </div>

  <div class="row">
    <div class="topic">
      <div class="topic-image">
        <img src="/static/technology.svg" alt="Layers">
      </div>
      <div class="topic-text">
        <h2>Technology</h2>
        <!-- Interoperability, Productivity, Sustainability -->
        <!-- Git Migration -->
        <ul>
          <li>What is my current tech stack? Is it still up-to-date and
            contributing to my sustainability?</li>
          <li>Which parts increase my productivity? Which ones are
            redundant or slowing me down?</li>
          <li>How can I better leverage synergies within my tech
            stack?</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="topic">
      <div class="topic-image">
        <img src="/static/processes.svg" alt="Layers">
      </div>
      <div class="topic-text">
        <h2>Processes</h2>
        <!-- Agile, Continuous Delivery / Deployment -->
        <!-- Premise: "Software is easy to change" -->
        <ul>
          <li>How are software creation and maintenance linked to each
            other and what can I do to prevent technical debt?</li>
          <li>What are the blockers and bottlenecks in my processes and
            how can I effectively remove them?</li>
          <li>How can I improve my feedback loops, decrease cycle time
            and establish a meaningful definition of "done"?</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="topic">
      <div class="topic-image">
        <img src="/static/recruiting.svg" alt="Layers">
      </div>
      <div class="topic-text">
        <h2>Recruiting</h2>
        <ul>
          <li>What traits should I be looking for in a candidate?</li>
          <li>Which environment attracts and retains talents? </li>
          <li>How are my tech stack and processes contributing?</li>
        </ul>
      </div>
    </div>
  </div>

</div>
{{end}}
