{{define `title`}}Training | Exupery Software{{end}}

{{define `main`}}
<div id="training">

  <div class="heading">
    <div class="row">
      <h1>Training</h1>
    </div>
  </div>

  <div class="row">
    <p>
      Whether to refresh existing knowledge or to shift gears and move to
      a new technology, trainings are an effective way to make sure that
      everyone is rowing in the same direction. Adding features is really
      only a small part of software engineering, the way bigger part is
      long-term maintenance. Natural fluctuation and restructuring can
      severely slow down projects if knowledge was distributed unequally.
      By focusing on building a solid foundation, we want to strengthen
      Your ability to adapt, and show that "agile" isn't just a marketing
      term.
    </p>
  </div>

  <div class="row">
    <h2>Developer Essentials</h2>
    <p>
      We believe that a short and carefully curated list of technologies
      beats a long list of specialized tools almost every time. If used
      properly, these technologies provide a level of interoperability
      that quickly offsets any lack of specialization. Fewer technologies
      also enable quicker onboarding, prevent knowledge silos and foster a
      mindset of <i>"Do we really need this?"</i>. Our goal is to provide
      You with the foundation to be maximally effective using minimal
      resources. All listed technologies are free and open-source, and we
      heavily use them ourselves, e.g. for this website.
    </p>
  </div>

  <div id="courses" class="row">
    <section>
      <img src="/static/bash-logo.png" alt="Bash Logo">
      <h2>Bash</h2>
      <p>
        Stable and universally available, Bash is a decent all-purpose
        interactive shell with great scripting capabilities.
      </p>
      <a href="https://www.gnu.org/software/bash/">Homepage: Bash</a>

      <h3>Training Contents</h3>
      <ul>
        <li>Basics
          <ul>
            <li>Syntax & Builtins</li>
            <li>Pipelines & Redirection</li>
            <li>Shell Expansions</li>
            <li>(Environment) Variables</li>
            <li>Control Flow</li>
          </ul>
        </li>
        <li>Advanced
          <ul>
            <li>Best Practices</li>
            <li>Processes & Signals</li>
            <li>SSH</li>
            <li><a href="https://www.gnu.org/software/make/">Makefiles</a></li>
          </ul>
        </li>
        <li>Useful Links
          <ul>
            <li><a href="http://google.github.io/styleguide/shellguide.html">Style Guide</a></li>
            <li><a href="https://www.shellcheck.net/">ShellCheck</a></li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <img src="/static/git-logo.png" alt="Git Logo">
      <h2>Git</h2>
      <p>
        When it comes to tracking changes during software development,
        Git is the de facto standard in the industry. Created more than
        15 years ago, it has established itself as a mature version
        control system for small and large projects.
      </p>
      <a href="https://git-scm.com/">Homepage: Git</a>

      <h3>Training Contents</h3>
      <ul>
        <li>Basics
          <ul>
            <li>Configuration</li>
            <li>Decentralized Repositories</li>
            <li>Commits & Log</li>
            <li>Branching & Merging</li>
            <li>Synchronization</li>
            <li>Aliases</li>
          </ul>
        </li>
        <li>Advanced
          <ul>
            <li>Best Practices</li>
            <li>Workflows</li>
            <li>Merge / Rebase / Reset</li>
            <li>Rewriting History</li>
            <li>Patches & Cherry-Pick</li>
          </ul>
        </li>
        <li>Useful Links
          <ul>
            <li><a href="https://chris.beams.io/posts/git-commit/">Commit Messages</a></li>
            <li><a href="https://jonas.github.io/tig/">Tig</a></li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <img src="/static/go-logo.png" alt="Go Logo">
      <h2>Go</h2>
      <p>
        Simple and reliable, with first-class support for concurrency
        and exceptional tooling, It's the perfect fit for command-line
        applications and web services, whether HTTP or gRPC.
      </p>
      <a class="external" href="https://golang.org/">Homepage: Go</a>

      <h3>Training Contents</h3>
      <ul>
        <li>Basics
          <ul>
            <li>Hello, World!</li>
            <li>Variables & Functions</li>
            <li>Modules & Packages</li>
            <li>Types & Interfaces</li>
            <li>Control Flow</li>
            <li>Command-Line Flags</li>
            <li>HTTP Servers</li>
          </ul>
        </li>
        <li>Advanced
          <ul>
            <li>Best Practices</li>
            <li>Concurrency</li>
            <li>Race Detector</li>
            <li>gRPC Servers</li>
            <li>Static Binaries</li>
            <li>Dockerfiles</li>
          </ul>
        </li>
        <li>Useful Links
          <ul>
            <li><a href="https://github.com/golang/go/wiki/CodeReviewComments">Code Review Comments</a></li>
            <li><a href="https://staticcheck.io/">Static Analysis</a></li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <img src="/static/vscode-logo.png" alt="Visual Studio Code Logo">
      <h2>Visual Studio Code</h2>
      <p>
        Clean UX, highly extendable and updated on a monthly basis. The
        most popular development environment across the board according
        to <a href="https://insights.stackoverflow.com/survey/2019">
          Stack Overflow’s 2019 Developer Survey</a>.
      </p>
      <a href="https://code.visualstudio.com/">Homepage: Visual Studio Code</a>

      <h3>Training Contents</h3>
      <ul>
        <li>Basics
          <ul>
            <li>Editor & Navigation</li>
            <li>IntelliSense & Refactoring</li>
            <li>Integrated Terminal</li>
            <li>Version Control</li>
            <li>Adding Extensions</li>
          </ul>
        </li>
        <li>Advanced
          <ul>
            <li>Working with Bash, Git & Go</li>
            <li>Settings & Shortcuts</li>
            <li>Debugging</li>
            <li>Tasks</li>
          </ul>
        </li>
        <li>Useful Links
          <ul>
            <li><a href="https://visualstudio.microsoft.com/services/live-share/">Live Share</a></li>
            <li><a href="https://code.visualstudio.com/api">Creating Extensions</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>

  <div class="row">
    <p>
      Didn't find what you were looking for? <a href="#">Let us know!</a>
      We are always looking to extend and improve our offer and appreciate
      Your feedback.
    </p>
  </div>

  <p>
    Training rates are 400 € per day and participant (plus travel
    costs)<a href="#footnote_1"><sup>1</sup></a>, and include materials
    and slides. Schedule and times can be discussed flexibly
    All trainings are designed to be inhouse to meet you exactly
    where you are.

    All trainings are designed to be inhouse (to pick you up where
    you are) and will be assembled for your personal needs. Are you
    a beginner or advanced? Do you need training in a specific area
    or a combination? Let us know, we will accommodate you!

    Different times and training content can be discussed.
  </p>

  <section class="footnotes">
    <hr>
    <ol>
      <li id="footnote_1"><sup>1</sup>
        All prices are retail prices and do not include VAT as per § 19
        UStG.</li>
    </ol>
  </section>

</div>
{{end}}
