/* base layout */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body, main > div {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 1024px;
    padding: 0 1rem;
    margin: 0 auto;
}

/* base style */

:root {
    --color1:       hsl(180,100%,25%);
    --color1-light: hsl(180, 50%,75%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 2;
}

footer {
    background-color: whitesmoke;
    border-top: 1px solid lightgrey;
}

a {
    color: var(--color1);
}

.logo {
    height: 1em;
    vertical-align: middle;
}

.heading {
    background:
        top right/ 100% 3em no-repeat
        linear-gradient(
            -2deg,
            transparent 49%,
            white 50%
        ),

        bottom -1px right / 100% 3em no-repeat
        linear-gradient(
            -2deg,
            white 49%,
            transparent 50%
        ),

        linear-gradient(
            to right,
            var(--color1),
            var(--color1-light)
        )
    ;

    background-color: var(--color1);
    color: white;
    font-size: 1.2em;
    padding: 3em 0;
}

.heading h1 {
    font-weight: normal;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2rem;
}

.quote blockquote {
    font-style: italic;
    text-indent: -1rem;
    margin: 1em 0;
}

.quote blockquote::before {
    content: open-quote;
}

.quote blockquote::after {
    content: close-quote;
}

.quote cite {
    font-style: normal;
}

.quote cite::before {
    content: '—';
}

/* header */

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-left: -1rem;
    margin-right: -1rem;
}

#header #title, #header #menu ~ label {
    font-size: 1.5em;
    font-weight: bold;
}

#header #menu {
    display: none;
}

#header #menu ~ label::before {
    content: '☰';
}

#header #menu:checked ~ label::before {
    content: '╳';
}

#header #nav {
    display: none;
    flex-basis: 100%;
    flex-direction: column;
}

#header #menu:checked ~ #nav {
    display: flex;
}

#header a, #header label {
    color: black;
    padding: 1rem;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    #header #menu ~ label {
        display: none;
    }
    #header #nav {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
    }
}

/* footer */

#footer {
    display: flex;
    justify-content: space-between;
}

#footer a {
    margin-left: 1rem;
}

/* index */

#index #service {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    #index #service {
        flex-direction: row;
    }
}

#index #service > * {
    flex: 1;
    margin: 1rem 0;
    text-align: center;
}

#index #service img {
    width: 100%;
    max-width: 280px;
}

#index #service a {
    text-decoration: none;
}

/* consulting / engineering */

main .topic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
}

main .topic-image {
    flex: 1 1 50%;
    text-align: center;
}

main .topic-image img {
    width: 280px;
}

main .topic-text {
    flex: 1 1 50%;
}

/* training */

#training > #courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

#training > #courses section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    background-color: whitesmoke;
    border-radius: 1rem;
}

@media screen and (min-width: 768px) {
    #training > #courses section {
        width: 48%;
    }
}

#training > #courses section img {
    height: 8em;
    align-self: center;
}

#training > #courses section h2 {
    align-self: center;
}
