{{define `title`}}Datenschutz | Exupery Software{{end}}

{{define `main`}}
<div id="privacy">

  <div class="heading">
    <div class="row">
      <h1>Datenschutz</h1>
    </div>
  </div>

  <div class="row">
    <h2>Grundlage</h2>
    <p>
      Wir sind der Überzeugung, dass weniger mehr ist, und dass dieses
      Prinzip auch für die Verarbeitung personenbezogener Daten gilt.
      Grundlage hierfür ist die Datenschutz-Grundverordnung (DSGVO) und
      wir arbeiten hart daran, die Verarbeitung von Daten und auch die
      Komplexität dieser Datenschutzerklärung auf das absolute Minumum
      zu beschränken. Wir behalten uns vor, diese zu aktualisieren, um
      zukünftigen Entwicklungen auf der Webseite Rechnung zu tragen.
    </p>
    <p>
      Stand der Datenschutzerklärung: Mai 2020
    </p>

    <h2>1. Verantwortlicher</h2>
    <p>
      Verantwortlicher für die Verarbeitung von personenbezogenen Daten
      im Sinne des Art. 4 Nr. 7 DSGVO ist:
    </p>

    <address>
      <b>Exupery Software UG (haftungsbeschränkt)</b><br />
      Brückenstraße 19<br />
      D-40221 Düsseldorf<br />
      <a href="mailto:exupery.software@gmail.com">exupery.software@gmail.com</a>
    </address>

    <h2>2. Ihre Rechte</h2>
    <p>
      Sie haben das Recht, von uns jederzeit die Auskunft, Berichtigung,
      Löschung, Einschränkung der Verarbeitung, Unterrichtung,
      Datenübertragung oder den Widerspruch gegen die Verarbeitung für
      personenbezogene Daten zu verlangen, die Sie betreffen. Erfolgt
      die Datenverarbeitung auf Grundlage Ihrer Zustimmung, haben Sie
      das Recht, diese jederzeit zu widerrufen. Sie können diese Rechte
      in Kapitel 3 (Art. 12-23) DSGVO nachlesen.
    </p>
    <p>
      Die Verarbeitung personenbezogener Daten ist rechtmäßig, wenn eine
      der Bedingungen des Art. 6 Abs. 1 DSGVO erfüllt ist und das Recht
      auf Löschung gilt nicht, soweit die Verarbeitung nach Art. 17 Abs.
      3 DSGVO erforderlich ist. Dies ist beispielsweise zur Erfüllung
      rechtlicher Verpflichtungen der Fall. Sollten Sie sich in einem
      Ihrer Rechte verletzt fühlen, haben Sie außerdem jederzeit das
      Recht auf Beschwerde bei einer Aufsichtsbehörde (Art. 77 DSGVO).
    </p>

    <h2>3. Anonyme Daten</h2>
    <p>
      Die Nutzung unserer Webseite ist grundsätzlich ohne die Angabe von
      personenbezogenen Daten möglich. Abhängig vom verwendeten Browser
      können beim Aufruf unserer Webseite jedoch die folgenden anonymen
      Daten an unseren Webserver übermittelt werden:
    </p>
    <ul>
      <li>Uhrzeit der Anfrage</li>
      <li>Aufgerufene Webseite</li>
      <li>Referrer (die vorherige Webseite)</li>
      <li>Name und Version des Browsers</li>
      <li>Name und Version des Betriebssystems</li>
      <li>Host / IP-Adresse</li>
    </ul>
    <p>
      Wir verwenden diese, um unsere Webseite zu verbessern, können sie
      aber nicht nutzen, um eine einzelne Person zu identifizieren. Es
      erfolgt keine Zusammenführung der Daten mit anderen Datenquellen
      und nach einer statistischen Auswertung werden die Daten gelöscht.
      Zur Verarbeitung anonymer Daten, siehe Erwägungsgrund 26 DSGVO.
    </p>
    <p>
      Es sei darauf hingewiesen, dass eine Identifikation bei statischen
      IP-Adressen aufgrund ihrer Natur technisch möglich sein kann, wir
      von dieser Möglichkeit jedoch keinen Gebrauch machen.
    </p>

    <h2>4. Cookies</h2>
    <p>
      Cookies sind Texinformationen, die ein Webserver beim Besuch einer
      Webseite im Browser des Besuchers speichern kann, um diese später
      bei einem erneuten Besuch wieder auszulesen. Typische Anwendungen
      für Cookies sind z. B. das Wiedererkennen eines Besuchers oder die
      Zwischenspeicherung eines Warenkorbs bei Online-Händlern.
    </p>
    <p>
      Zum aktuellen Zeitpunkt setzen wir keine Cookies ein.
    </p>

    <h2>5. Kontakt per E-Mail</h2>
    <p>
      Wenn Sie uns per E-Mail kontaktieren, speichern wir die von Ihnen
      angegebenen Daten (E-Mail-Adresse, ggf. Namen und Telefonnummer)
      zum Zwecke der Kontaktaufnahme. Die Angabe dieser Informationen
      erfolgt mit Ihrer Einwilligung nach Art. 6 Abs. 1 a DSGVO. Sie
      können diese Einwilligung selbstverständlich jederzeit Widerrufen.
    </p>

    <h2>Externe Links</h2>
    <ul>
      <li><a href="https://dsgvo-gesetz.de/">Datenschutz-Grundverordnung (DSGVO)</a></li>
      <li><a href="https://adiehl.github.io/dsgvo/">DSGVO-Generator</a></li>
    </ul>
  </div>

</div>
{{end}}
