{{define `title`}}Exupery Software{{end}}

{{define `main`}}
<div id="index">

  <div class="heading">
    <div class="row">
      <h1>Software einfach machen.</h1>
      <div class="quote">
        <blockquote>
          Nicht dann, wenn nichts mehr hinzuzufügen ist, hat man die
          Vollkommenheit erreicht, sondern erst dann, wenn man nichts
          mehr wegnehmen kann.
        </blockquote>
        <cite>
          Antoine de Saint-Exupéry
        </cite>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="service">
      <div>
        <img src="/static/consulting.svg" alt="Puzzle">
        <a href="/beratung.html">
          <h1>Beratung ›</h1>
        </a>
      </div>
      <div>
        <img src="/static/engineering.svg" alt="Cogs">
        <a href="/entwicklung.html">
          <h1>Entwicklung ›</h1>
        </a>
      </div>
      <div>
        <img src="/static/training.svg" alt="Flipchart">
        <a href="/schulung.html">
          <h1>Schulung ›</h1>
        </a>
      </div>
    </div>
  </div>

</div>
{{end}}
